## SK 유동인구 EDA 파일

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import mean_squared_error

import os

In [2]:
FLOWTIME_PATH = '/Users/minki/pythonworkspace/bigcon2020/2020dataset/SK_data/FLOW_TIME'
FLOWAGE_PATH = '/Users/minki/pythonworkspace/bigcon2020/2020dataset/SK_data/FLOW_AGE'

In [3]:
# data load

sk_data_TIME = pd.DataFrame()

for root, dirs, files in os.walk(FLOWTIME_PATH):
    for fname in files:
        full_fname = os.path.join(root, fname)
        data_time = pd.read_csv(full_fname, sep = '|')
        sk_data_TIME = pd.concat([sk_data_TIME, data_time])
        sk_data_TIME = sk_data_TIME.reset_index(drop=True)
        
sk_data_AGE = pd.DataFrame()

for root, dirs, files in os.walk(FLOWAGE_PATH):
    for fname in files:
        full_fname = os.path.join(root, fname)
        data_age = pd.read_csv(full_fname, sep = '|')
        sk_data_AGE = pd.concat([sk_data_AGE, data_age])
        sk_data_AGE = sk_data_AGE.reset_index(drop=True)

del sk_data_AGE['Unnamed: 0']

# edit type
sk_data_AGE['STD_YM'] = sk_data_AGE['STD_YM'].astype(int).astype(str)
sk_data_AGE['STD_YMD'] = sk_data_AGE['STD_YMD'].astype(int).astype(str)
sk_data_AGE['HDONG_CD'] = sk_data_AGE['HDONG_CD'].astype(int).astype(str)

sk_data_TIME['STD_YM'] = sk_data_TIME['STD_YM'].astype(int).astype(str)
sk_data_TIME['STD_YMD'] = sk_data_TIME['STD_YMD'].astype(int).astype(str)
sk_data_TIME['HDONG_CD'] = sk_data_TIME['HDONG_CD'].astype(int).astype(str)

### 데이터셋에 도시이름 추가

In [4]:
# 법정동 코드 load

import json

file_path = '/Users/minki/pythonworkspace/bigcon2020/2020dataset/SK_data/dict_number.json'
with open(file_path, 'r') as json_file:
    dict_data = json.load(json_file)
    
dict_data = {v:k for k, v in dict_data.items()}

In [5]:
from tqdm import tqdm

sk_data_AGE['CITY'] = np.nan
sk_data_AGE['GU_NAME'] = np.nan

sk_data_TIME['CITY'] = np.nan
sk_data_TIME['GU_NAME'] = np.nan

for i, val in tqdm(sk_data_AGE.iterrows()):
    res1 = dict_data[int(val.HDONG_CD)]
    res2 = res1.split()
    
    sk_data_AGE['CITY'][i] = res2[0]
    sk_data_AGE['GU_NAME'][i] = res2[1]
    
for i, val in tqdm(sk_data_TIME.iterrows()):
    res1 = dict_data[int(val.HDONG_CD)]
    res2 = res1.split()
    
    sk_data_TIME['CITY'][i] = res2[0]
    sk_data_TIME['GU_NAME'][i] = res2[1]

16629it [00:10, 1648.56it/s]
16629it [00:09, 1674.57it/s]

In [11]:
from collections import Counter

print(Counter(sk_data_TIME['CITY']))
print(Counter(sk_data_TIME['GU_NAME']))

print(Counter(sk_data_AGE['CITY']))
print(Counter(sk_data_AGE['GU_NAME']))

Counter({'대구광역시': 8435, '서울특별시': 8194})
Counter({'중구': 6507, '수성구': 5543, '노원구': 4579})
Counter({'대구광역시': 8435, '서울특별시': 8194})
Counter({'중구': 6507, '수성구': 5543, '노원구': 4579})

In [25]:
col_age_order = ['STD_YM',
 'STD_YMD',
 'HDONG_CD',
                 'CITY',
 'GU_NAME',
 'HDONG_NM',
 'MAN_FLOW_POP_CNT_0004',
 'MAN_FLOW_POP_CNT_0509',
 'MAN_FLOW_POP_CNT_1014',
 'MAN_FLOW_POP_CNT_1519',
 'MAN_FLOW_POP_CNT_2024',
 'MAN_FLOW_POP_CNT_2529',
 'MAN_FLOW_POP_CNT_3034',
 'MAN_FLOW_POP_CNT_3539',
 'MAN_FLOW_POP_CNT_4044',
 'MAN_FLOW_POP_CNT_4549',
 'MAN_FLOW_POP_CNT_5054',
 'MAN_FLOW_POP_CNT_5559',
 'MAN_FLOW_POP_CNT_6064',
 'MAN_FLOW_POP_CNT_6569',
 'MAN_FLOW_POP_CNT_70U',
 'WMAN_FLOW_POP_CNT_0004',
 'WMAN_FLOW_POP_CNT_0509',
 'WMAN_FLOW_POP_CNT_1014',
 'WMAN_FLOW_POP_CNT_1519',
 'WMAN_FLOW_POP_CNT_2024',
 'WMAN_FLOW_POP_CNT_2529',
 'WMAN_FLOW_POP_CNT_3034',
 'WMAN_FLOW_POP_CNT_3539',
 'WMAN_FLOW_POP_CNT_4044',
 'WMAN_FLOW_POP_CNT_4549',
 'WMAN_FLOW_POP_CNT_5054',
 'WMAN_FLOW_POP_CNT_5559',
 'WMAN_FLOW_POP_CNT_6064',
 'WMAN_FLOW_POP_CNT_6569',
 'WMAN_FLOW_POP_CNT_70U']

In [26]:
sk_data_AGE = sk_data_AGE[col_age_order]

In [22]:
col_time_order = ['STD_YM',
 'STD_YMD',
 'HDONG_CD',
                  'CITY',
 'GU_NAME',
 'HDONG_NM',
 'TMST_00',
 'TMST_01',
 'TMST_02',
 'TMST_03',
 'TMST_04',
 'TMST_05',
 'TMST_06',
 'TMST_07',
 'TMST_08',
 'TMST_09',
 'TMST_10',
 'TMST_11',
 'TMST_12',
 'TMST_13',
 'TMST_14',
 'TMST_15',
 'TMST_16',
 'TMST_17',
 'TMST_18',
 'TMST_19',
 'TMST_20',
 'TMST_21',
 'TMST_22',
 'TMST_23']

In [23]:
sk_data_TIME = sk_data_TIME[col_time_order]

In [24]:
sk_data_TIME

,STD_YM,STD_YMD,CITY,GU_NAME,HDONG_CD,HDONG_NM,TMST_00,TMST_01,TMST_02,TMST_03,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202002,20200201,서울특별시,중구,1114052000,소공동,1393.34,1144.91,900.51,721.78,...,7705.97,7389.93,7322.32,8070.40,6488.70,4890.46,4304.38,3683.57,4002.98,2894.37
1,202002,20200201,서울특별시,중구,1114054000,회현동,1586.96,1170.81,898.06,682.55,...,11846.92,11701.47,11364.08,10725.66,8140.20,6399.03,5566.32,5533.92,4715.67,3334.92
2,202002,20200201,서울특별시,중구,1114055000,명동,1534.52,1139.65,1015.20,799.85,...,11188.64,10109.60,10587.30,10697.87,8781.11,6420.97,5091.03,5025.40,4415.18,3415.71
3,202002,20200201,서울특별시,중구,1114057000,필동,1321.52,933.49,803.40,690.18,...,4931.33,4989.49,5010.95,5702.29,5089.43,3959.67,3151.50,3048.29,2951.06,2017.30
4,202002,20200201,서울특별시,중구,1114058000,장충동,629.17,561.68,454.77,372.22,...,3423.15,3030.29,2882.15,3099.08,2584.95,1811.88,1669.96,1664.65,1164.56,976.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16624,201902,20190228,대구광역시,수성구,2726066100,범물1동,379.53,253.11,174.37,116.27,...,2084.20,2269.61,1809.81,3183.44,3536.11,1553.07,1758.43,1730.08,1278.94,826.15
16625,201902,20190228,대구광역시,수성구,2726066200,범물2동,292.19,170.80,115.99,62.15,...,1351.06,1409.44,1154.08,1998.96,2196.77,1149.25,1287.41,1233.50,986.67,596.44
16626,201902,20190228,대구광역시,수성구,2726067000,고산1동,1300.46,860.96,526.60,482.71,...,8345.84,8361.36,5992.97,10907.48,12134.91,5364.45,6797.72,6078.16,4467.96,2746.27
16627,201902,20190228,대구광역시,수성구,2726068000,고산2동,2086.89,1364.18,972.53,833.48,...,15528.81,15548.65,11612.22,19526.39,20309.76,10210.66,12001.49,10419.95,7859.83,4817.53
16628,201902,20190228,대구광역시,수성구,2726069000,고산3동,660.75,525.92,301.69,289.16,...,3799.53,3612.71,2600.18,4453.13,5173.30,2327.66,3190.73,2728.98,2193.95,1305.95