In [2]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('local_people_data.csv')
data.drop(columns='총생활인구수',inplace=True)

In [10]:
df = pd.melt(data,id_vars=['STD_DD','시간대구분','행정동코드','G_DNG_NM'],var_name='HUMAN_NM',value_name='FLOW')

In [11]:
df['SEX_CD'] = np.where(df['HUMAN_NM'].str.contains('남자'),'M','F')

In [31]:
df['HDONG_NM'] = df['G_DNG_NM'].str[6:].apply(lambda x: x.strip())

In [39]:
df['WEEK_NUM'] = pd.to_datetime(df['STD_DD']).dt.weekofyear

In [40]:
df

,STD_DD,시간대구분,행정동코드,G_DNG_NM,HUMAN_NM,FLOW,SEX_CD,HDONG_NM,WEEK_NUM
0,2019-02-01,0,11350625,서울 노원구 중계2.3동,남자_0009세생활인구수,1858.3096,M,중계2.3동,5
1,2019-02-01,1,11350625,서울 노원구 중계2.3동,남자_0009세생활인구수,1785.0549,M,중계2.3동,5
2,2019-02-01,2,11350625,서울 노원구 중계2.3동,남자_0009세생활인구수,1733.5305,M,중계2.3동,5
3,2019-02-01,3,11350625,서울 노원구 중계2.3동,남자_0009세생활인구수,1745.2137,M,중계2.3동,5
4,2019-02-01,4,11350625,서울 노원구 중계2.3동,남자_0009세생활인구수,1712.3663,M,중계2.3동,5
...,...,...,...,...,...,...,...,...,...
5506363,2020-05-31,19,11140605,서울 중구 을지로동,여자_70세이상생활인구수,301.2843,F,을지로동,22
5506364,2020-05-31,20,11140605,서울 중구 을지로동,여자_70세이상생활인구수,301.9059,F,을지로동,22
5506365,2020-05-31,21,11140605,서울 중구 을지로동,여자_70세이상생활인구수,246.0693,F,을지로동,22
5506366,2020-05-31,22,11140605,서울 중구 을지로동,여자_70세이상생활인구수,251.1501,F,을지로동,22
5506367,2020-05-31,23,11140605,서울 중구 을지로동,여자_70세이상생활인구수,247.0219,F,을지로동,22

-----------------

In [6]:
flag = pd.read_csv('SK_melted_flow_age.csv')
flag['SEX_CD'] = np.where(flag['age'].str.startswith('MAN'),'M','F')
flag['AGE_CD'] = flag['age'].str[-4:]

In [7]:
flag = flag.rename(columns={'flow_counts':'FLOW','year':'YEAR','month':'MONTH','weekofyear':'WEEK_NUM','dayofweek':'WEEKDAY'})

In [8]:
flag.to_csv('TOTAL_FLOW_AGE_MELT.csv',index=False)